html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")

		title Find Your Read

		link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css")
		link(href="magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css")
		link(href="creative.min.css" rel="stylesheet" type="text/css")
		link(href="style.css" rel="stylesheet" type="text/css")

	body#page-top
		nav#mainNav.navbar.navbar-default.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span.sr-only Toggle Navigation
						i.fa.fa-bars Menu
					a.navbar-brand.page-scroll(href="#page-top") Find Your Read
				
				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav.navbar-right
						li
							a.page-scroll(href="#about") Login
						//- li
						//- 	<!-- Empty for now -->

		header
			div.header-content
				div.header-content-inner
					h1#homeHeading Find the next book to read!
					hr
					p Don't know what book to read next, are there too many choices? Search here for your next book based on your current preferences. The more filter options you choose, the better the recommendations will be. You can also login to connect to your Goodreads bookshelves and let us pick the next book from your to-read list.

					div.row
						div.col-md-12
							div.input-group#adv-search
								input.form-control(type="text" placeholder="Get recommendations! Click the arrow for more filter options!" name="inputText" form="form1")
								div.input-group-btn
									div.btn-group(role="group")
										div.dropdown.dropdown-lg
											button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false")
												span.caret
											div.dropdown-menu.dropdown-menu-right(role="menu")
												form.form-horizontal#form1(role="form" action="/" method="POST")
													div.form-group
														label(for="contain") Author
														input.form-control(type="text" name="author")
													div.form-group
														label(for="filter") Genre
														select.form-control(name="genre")
															option(value="0" selected) Choose a genre
															option(value="Fantasy") Fantasy
															option(value="Literature") Literature
															option(value="Non-Fiction") Non-Fiction
															option(value="Drama") Drama
															option(value="Fiction") Fiction
													//- div.form-group
													//- 	label(for="filter") Theme
													//- 	select.form-control(name="theme")
													//- 		option(value="0" selected) Choose a theme
													//- 		option(value="Animals") Animals
													//- 		option(value="Travel") Travel
													//- 		option(value="War") War
													//- 		option(value="Sports") Sports
													//- 		option(value="Timetravel") Timetravel
													div.form-group
														label(for="filter") Series &nbsp;
														input(type="checkbox" value="Yes" name="series")
													div.form-group
														label(for="contain") Max Page Numbers
														input.form-control(type="number" name="pagesMax" min="0" max="3000")
													div.form-group
														label(for="contain") Min Page Numbers
														input.form-control(type="number" name="pagesMin" min="0" max="3000")
													div.form-group
														label(for="filter") Published in
														br
														div.inputGroup
															label(for="filter") 2010- &nbsp;
															input(type="checkbox" value="Yes" name="2010")
														div.inputGroup
															label(for="filter") &nbsp; 2000-2010 &nbsp;
															input(type="checkbox" value="Yes" name="2000")
														div.inputGroup
															label(for="filter") &nbsp; 1950-2000 &nbsp;
															input(type="checkbox" value="Yes" name="1950")
														div.inputGroup
															label(for="filter") &nbsp; 1900-1950 &nbsp;
															input(type="checkbox" value="Yes" name="1900")
														div.inputGroup
															label(for="filter") &nbsp; 1800-1900 &nbsp;
															input(type="checkbox" value="Yes" name="1800")
													div.form-group
														label(for="filter") Language
														select.form-control(name="language")
															option(value="0" selected) Choose a language
															option(value="English") English
															option(value="Dutch") Dutch
															option(value="German") German
															option(value="French") French
															option(value="Chinese") Chinese
															option(value="Spanish") Spanish
													button.btn.btn-primary(type="submit")
														span.glyphicon.glyphicon-search(aria-hidden="true")
										button.btn.btn-primary(type="button")
											span.glyphicon.glyphicon-search(aria-hidden="true")
					br
					a.btn.btn-primary.btn-xl.page-scroll(href="#about") Search

		script(src="jquery/jquery-3.1.1.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="jquery/jquery.easing.min.js")
		script(src="scrollreveal/scrollreveal.min.js")
		script(src="magnific-popup/jquery.magnific-popup.min.js")
		script(src="creative.min.js")